@import "bootstrap/dist/css/bootstrap.min.css";




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #212529;
  font-family: "Poppins", Arial, Helvetica, sans-serif;

}

#scrollToTopBtn {
  width: 40px;
  height: 40px;
  background-color: #088178;
  color: #ffffff;
  right: 30px;
  bottom: 30px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 999 !important;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background 0.2s;
}

#scrollToTopBtn .fi-rs-arrow-up {
  font-size: 20px;
  line-height: 1;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

.ml-3 {
  margin-left: 16px !important;
}
.row.product-grid-3 a{
  text-decoration: none;
}